body {
	margin: 0;
	background-color: whitesmoke;
	font-family: monospace;
	color: lightskyblue;
}

nav {
	display: flex;
	height: 5vh;
	justify-content: space-between;
	align-items: center;
	background-color: lightskyblue;
	padding: 0 15px 0 15px;
	color: whitesmoke;
}

.gridcontainer {
	display: grid;	
	grid-template-columns: repeat(3,1fr);
	max-width: 60vw;
	margin: auto;

	.box {
		height: 15vw;
		width: 15vw;
		display: grid; 
		grid-template-rows: 10vw 5vw;
		background-color: lightskyblue;
		color: whitesmoke;
		margin: 20px 0 0 auto;

		.hero {
			background: rgb(180, 226, 255);
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.options {
			display: flex;
			align-items: center;
			justify-content: space-around;
		}
	}
}